h1
{

	font-family: Impact;

}

h2
{

	color: blue;
	font-style: italic;
	background-color: rgba(128,128,128,0.2);
	margin-bottom: 3%;
	margin-top: 3%


}	

mark
{

	background-color: rgba(128,128,128,0.2);
	font-family: arial;

}